-
  totalR = 360
  totalD = totalR * 2

  total_width=1080 
  total_height=1080

  headingOffset = 50
  headingR = totalR - headingOffset
  headingD = headingR * 2
  
  subheadingOffset = 20
  subheadingR = totalR - subheadingOffset
  subheadingD = subheadingR * 2

link(rel='stylesheet', type='text/css', href='./styles.css')

mixin arcHeading(heading, subheading)
  .arc-heading
    svg(
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      viewBox='0 0 ' + totalD + ' ' + totalD
    )
      defs
        path(
          id='heading-arc'
          d='M ' + headingOffset + ' ' + totalR + ' a ' + headingR + ' ' + headingR + ' 0 1 1 ' + headingD + ' 0' 
          )
        path(
          id='subheading-arc'
          d='M ' + subheadingOffset + ' ' + totalR + ' a ' + subheadingR + ' ' + subheadingR + ' 0 0 0 ' + subheadingD + ' 0'
          )

      use(xlink:href='#heading-arc' fill='none')
      use(xlink:href='#subheading-arc' fill='none')
      

      text.arc-heading__heading(fill='#fff' text-anchor='middle' y=(totalD / 2) - totalR - 20)
        textPath(startOffset='50%' xlink:href='#heading-arc')= heading
      text.arc-heading__subheading(fill='#fff' text-anchor='middle' y=(totalD / 2) - totalR - 40)
        textPath(startOffset='50%' xlink:href='#subheading-arc')= subheading

      circle(cx=(totalD / 2) + 'px', cy=(totalD / 2) + 'px', r=totalR * 0.80, fill='#161C26')
      text.status-text(x=(totalD / 2) y=(totalD / 2) text-anchor='middle')
        | Свободно 


html
  <meta charset="utf-8">
  body
    .container
      +arcHeading('Акселератор 1', schedule)
